.array-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    min-height: 600px;
    box-sizing: border-box;
    border-bottom: 50px solid #282c34;
}

.array-bar {
    width: 20px;
    background-color: pink;
    display: inline-block;
    margin: 1px;
}

.control-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 100% Verdana, Arial, Helvetica, sans-serif;
    height: 10vh;
    width: 100vw;
    min-height: 50px;
    background: #282c34;
}

.control-container p {
    position: absolute;
    left: 20px;
    top: -25px;
    font-size: 36px;
    font-weight: 800;
    color: white;
}

.control-container button {
    height: 36px;
    border-radius: 5px;
    background: #282c34;
    border: 2px solid turquoise;
    margin-left: 10px;
    font-size: 1em;
    font-weight: 800;
    color: white;
    outline: none;
    cursor: pointer;
}

.control-container button:hover {
    background: turquoise;
}

.custom-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 40%;
    justify-content: center;
    color: white;
    text-align: center;
}